
html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    background: #e9eaeb;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

.react-swipeable-view-container,
.react-swipeable-view-container > div {
    height: 100%;
}
